<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% extends "base.html" %}
{% block content %}
<section class="page-section">
  <h1>Patient Resources</h1>
  <ul>
    <li><a href="#">Brain Tumor Support Groups</a></li>
    <li><a href="#">Healthy Living Guides</a></li>
    <li><a href="#">Managing Chronic Illness</a></li>
    <li><a href="#">Post-Treatment Care Tips</a></li>
  </ul>
</section>
{% endblock %}

</body>
</html>